.nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav {
  background-color: #8faab3;
  color: #070707; 
  display: flex;
  flex-flow: nowrap;
  justify-content: left;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* float: right; */
  padding: 10px 20px;
}

.navbar a {
  color: #050505;
  text-decoration: none;
  margin-right: 20px; 
}

.navbar a:hover {
  color: #ccc; 
}

.container {
  display: flex;
  align-items: center;
  float: right;
}

.container a {
  color: #000000;
  text-decoration: none;
  margin-right: 20px; 
}

.container a:hover {
  color: #ccc; 
}